{% extends 'base/base.html' %}
{% load bootstrap3 %}
{% load staticfiles %}


{% block title_block %} Agregar Encuesta Mujer {% endblock %}



{% block title_content_block %}Agregar Encuesta Mujer - VIF{% endblock %}

{% block css_block %}

    <link rel="stylesheet" href="{% static 'css/css_personalizados.css' %}">

{% endblock %}

{% block content_block %}
    <form class="form" role="form-" method="post"> {% csrf_token %}
        <div class="form-group">
            <div class="box-header with-border p-3">
                <h5 class="box-title text-letf">I. SECCIÓN A: IDENTIFICACION DE LA PARTICIPANTE</h5>
            </div>
            <div class="box-body ">
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        {% bootstrap_field form.fecha_encuesta layout="vertical" %}
                    </div>
                    <div class="col-md-4 col-sm-6">
                        {% bootstrap_field form.hora_inicio layout="vertical" %}
                    </div>
                    <div class="col-md-4 col-sm-6">
                        {% bootstrap_field form.hora_final layout="vertical" %}
                    </div>
                    <div class="col-md-4 col-sm-6">
                        {% bootstrap_field form.id_paciente layout="vertical" %}
                    </div>

                    <div class="col-md-4 col-sm-6">
                        {% bootstrap_field form.id_encuestador layout="vertical" %}
                    </div>
                    <div class="col-md-4 col-sm-6">
                        {% bootstrap_field form.medicion layout="vertical" %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        {% bootstrap_field form.institucion_salud layout="vertical" %}
                    </div>
                    <div class="col-md-4 col-sm-6">
                        {% bootstrap_field form.servicio_remitente layout="vertical" %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        {% bootstrap_field form.a1_ciudad layout="vertical" %}
                    </div>
                    <div class="col-md-4 col-sm-6">
                        {% bootstrap_field form.a2_barrio layout="vertical" %}
                    </div>
                    <div class="col-md-4 col-sm-6">
                        {% bootstrap_field form.a3_direccion layout="vertical" %}
                    </div>
                    <div class="col-md-4 col-sm-6">
                        {% bootstrap_field form.a4_edad layout="vertical" %}
                    </div>
                    <div class="col-md-4 col-sm-6">
                        {% bootstrap_field form.a5_estado_civil layout="vertical" %}
                    </div>
                    <div class="col-md-4 col-sm-6">
                        {% bootstrap_field form.a6_situacion_sentimental layout="vertical" %}
                    </div>
                    <div class="col-md-4 col-sm-6">
                        {% bootstrap_field form.a7_escolaridad layout="vertical" %}
                    </div>
                    <div class="col-md-4 col-sm-6">
                        {% bootstrap_field form.a8_discapacidad layout="vertical" %}
                    </div>
                    <div class="col-md-4 col-sm-6">
                        {% bootstrap_field form.a8a_tipo_discapacidad layout="vertical" %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        {% bootstrap_field form.a9_situacion_laboral layout="vertical" %}
                    </div>
                    <div class="col-md-4 col-sm-6">
                        {% bootstrap_field form.a10_consume_cigarrillo layout="vertical" %}
                    </div>
                    <div class="col-md-4 col-sm-6">
                        {% bootstrap_field form.a11_consume_alcohol layout="vertical" %}
                    </div>
                    <div class="col-md-4 col-sm-6">
                        {% bootstrap_field form.a12_consume_tipo_sustancia layout="vertical" %}
                    </div>
                    <div class="col-md-4 col-sm-6">
                        {% bootstrap_field form.a12a_tipo_sustancia layout="vertical" %}
                    </div>
                    <div class="col-md-4 col-sm-6">
                        {% bootstrap_field form.a12b_otro_tipo_sustancia layout="vertical" %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <hr>
                    </div>
                </div>
            </div>
             <div class="box-header with-border p-3">
                <h5 class="box-title text-letf">II. SECCIÓN B: CARACTERÍSTICAS SOCIO-ECONÓMICAS</h5>
            </div>
            <div class="box-body ">
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        {% bootstrap_field form.b1_num_personas_hogar layout="vertical" %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label class="text-left">B2 ¿Con quienes convive en su hogar?</label>
                    </div>
                </div>
                <div class="form-check">
                    <div class="row">
                        <div class="col-md-2 col-sm-4">
                            {% bootstrap_field form.b2_esposo layout="vertical" %}
                        </div>
                        <div class="col-md-2 col-sm-4">
                            {% bootstrap_field form.b2_companero layout="vertical" %}
                        </div>
                        <div class="col-md-2 col-sm-4">
                            {% bootstrap_field form.b2_hijos layout="vertical" %}
                        </div>
                        <div class="col-md-2 col-sm-4">
                            {% bootstrap_field form.b2_sobrinos layout="vertical" %}
                        </div>
                        <div class="col-md-2 col-sm-4">
                            {% bootstrap_field form.b2_primos layout="vertical" %}
                        </div>
                        <div class="col-md-2 col-sm-4">
                            {% bootstrap_field form.b2_suegros layout="vertical" %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 col-sm-4">
                            {% bootstrap_field form.b2_ex_esposo layout="vertical" %}
                        </div>
                        <div class="col-md-2 col-sm-4">
                            {% bootstrap_field form.b2_ex_companero layout="vertical" %}
                        </div>
                        <div class="col-md-2 col-sm-4">
                            {% bootstrap_field form.b2_tios layout="vertical" %}
                        </div>
                        <div class="col-md-2 col-sm-4">
                            {% bootstrap_field form.b2_hermanos layout="vertical" %}
                        </div>
                        <div class="col-md-2 col-sm-4">
                            {% bootstrap_field form.b2_abuelos layout="vertical" %}
                        </div>
                        <div class="col-md-2 col-sm-4">
                            {% bootstrap_field form.b2_conocidos layout="vertical" %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 col-sm-3">
                            {% bootstrap_field form.b2_otro layout="vertical" %}
                        </div>
                        <div class="col-md-3 col-sm-8">
                            {% bootstrap_field form.b2_otro_especificado layout="vertical" %}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <hr>
                    </div>
                </div>
                 <div class="row">
                    <div class="col-md-5 col-sm-12">
                        {% bootstrap_field form.b3_num_personas_aportan_hogar layout="vertical" %}
                    </div>
                    <div class="col-md-7 col-sm-12">
                        <label class="text-left">B4 ¿Cuantas personas que depende de usted económicamente?</label>
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                {% bootstrap_field form.b4_num_personas_dependen_dentro layout="vertical" %}
                            </div>
                            <div class="col-md-6 col-sm-6">
                                {% bootstrap_field form.b4_num_personas_dependen_fuera layout="vertical" %}
                            </div>

                        </div>
                    </div>
                 </div>
                <div class="row">
                     <div class="col-md-4 col-sm-6">
                        {% bootstrap_field form.b5_tipo_de_vivienda layout="vertical" %}
                    </div>
                    <div class="col-md-4 col-sm-6">
                        {% bootstrap_field form.b6_regimen_salud layout="vertical" %}
                    </div>
                    <div class="col-md-4 col-sm-6">
                        {% bootstrap_field form.b6_otro_especificado layout="vertical" %}
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-12">
                    <hr>
                </div>
            </div>
            <div class="box-header with-border p-3">
                <h5 class="box-title text-letf">SECCIÓN C: SALUD MENTAL - introducción</h5>
                <div class="row justify-content-md-center">
                    <div class="col-md-10 bg-info">
                        <p class="font-italic">
                            Las siguientes preguntas son acerca de algunas de las situaciones que una persona puede haber sentido o vivido a lo largo de su vida.<br>
                            Este cuestionario es parte de un protocolo, por eso puede incluir preguntas que pueden ser difíciles o incómodas para algunas personas.
                            Recuerde que toda la información suministrada es confidencial y no se usarán datos personales que permitan identificar a la persona.
                        </p>
                    </div>
                </div>
            </div>
             <div class="box-body ">
                 <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <label class="text-left">C1 Usted está aquí porque ha experimentado algún tipo de agresión. Por favor indique cuál es su relación con la persona que la agredió.</label>
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                {% bootstrap_field form.c1_relacion_agresor layout="vertical" %}
                            </div>
                            <div class="col-md-6 col-sm-6">
                                {% bootstrap_field form.c1_otro_especificado layout="vertical" %}
                            </div>
                        </div>
                    </div>
                 </div>
                 <div class="row">
                    <div class="col-md-12">
                        <hr>
                    </div>
                </div>
             </div>
            <div class="box-header with-border p-3">
                <h5 class="box-title text-letf">III. SECCIÓN D: SALUD MENTAL (HSCL-Ansiedad)</h5>
                <div class="row justify-content-md-center">
                    <div class="col-md-10 bg-info">
                        <p class="font-italic">
                            Las siguientes preguntas son acerca de algunos síntomas que usted pudo o no haber experimentado.
                            Para cada uno, diga por favor la frecuencia en que lo ha sentido en las últimas 4 semanas: muchas veces, varias veces, pocas veces o ninguna.
                        </p>
                    </div>
                </div>
            </div>
            <div class="box-body ">
                <div class="row">
                     <div class="col-md-6 col-sm-12">
                        {% bootstrap_field form.d1_sentir_susto layout="vertical" %}
                    </div>
                    <div class="col-md-6 col-sm-12">
                        {% bootstrap_field form.d2_sentir_miedo layout="vertical" %}
                    </div>
                    <div class="col-md-6 col-sm-12">
                        {% bootstrap_field form.d3_sentir_desmayo layout="vertical" %}
                    </div>
                    <div class="col-md-6 col-sm-12">
                        {% bootstrap_field form.d4_sentir_nervios layout="vertical" %}
                    </div>
                    <div class="col-md-6 col-sm-12">
                        {% bootstrap_field form.d5_sentir_corazon layout="vertical" %}
                    </div>
                    <div class="col-md-6 col-sm-12">
                        {% bootstrap_field form.d6_sentir_tembladera layout="vertical" %}
                    </div>
                    <div class="col-md-6 col-sm-12">
                        {% bootstrap_field form.d7_sentir_tension layout="vertical" %}
                    </div>
                    <div class="col-md-6 col-sm-12">
                        {% bootstrap_field form.d8_dolor_cabeza layout="vertical" %}
                    </div>
                    <div class="col-md-6 col-sm-12">
                        {% bootstrap_field form.d9_sentir_terror layout="vertical" %}
                    </div>
                    <div class="col-md-6 col-sm-12">
                        {% bootstrap_field form.d10_sentir_agitada layout="vertical" %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <hr>
                </div>
            </div>
            <div class="box-header with-border p-3">
                <h5 class="box-title text-letf">IV. SECCIÓN E: SALUD MENTAL (Autoestima Rosenberg)</h5>
                <div class="row justify-content-md-center">
                    <div class="col-md-10 bg-info">
                        <p class="font-italic">
                            Las siguientes preguntas son para saber qué tan de acuerdo o en desacuerdo está usted con las siguientes afirmaciones.
                            Para responder las preguntas, piense en cómo se ha sentido en las últimas 4 semanas:
                        </p>
                    </div>
                </div>
            </div>
             <div class="box-body ">
                <div class="row">
                     <div class="col-md-7 col-sm-12">
                        {% bootstrap_field form.e1_digna_aprecio layout="vertical" %}
                    </div>
                    <div class="col-md-5 col-sm-12">
                        {% bootstrap_field form.e2_cualidades_buenas layout="vertical" %}
                    </div>
                    <div class="col-md-6 col-sm-12">
                        {% bootstrap_field form.e3_capaz_hacer_cosas layout="vertical" %}
                    </div>
                    <div class="col-md-6 col-sm-12">
                        {% bootstrap_field form.e4_actitud_positiva layout="vertical" %}
                    </div>
                    <div class="col-md-6 col-sm-12">
                        {% bootstrap_field form.e5_satisfecha layout="vertical" %}
                    </div>
                    <div class="col-md-6 col-sm-12">
                        {% bootstrap_field form.e6_no_estar_orgullosa layout="vertical" %}
                    </div>
                    <div class="col-md-6 col-sm-12">
                        {% bootstrap_field form.e7_inclino_fracasada layout="vertical" %}
                    </div>
                    <div class="col-md-6 col-sm-12">
                        {% bootstrap_field form.e8_sentir_respesto_propio layout="vertical" %}
                    </div>
                    <div class="col-md-6 col-sm-12">
                        {% bootstrap_field form.e9_pensar_ser_inutil layout="vertical" %}
                    </div>
                    <div class="col-md-6 col-sm-12">
                        {% bootstrap_field form.e10_no_buena_persona layout="vertical" %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <hr>
                </div>
            </div>
            <div class="box-header with-border p-3">
                <h5 class="box-title text-letf">V. SECCIÓN F: SALUD MENTAL (HSCL - Depresión)</h5>
                <div class="row justify-content-md-center">
                    <div class="col-md-10 bg-info">
                        <p class="font-italic">
                            Las siguientes preguntas son acerca de algunos síntomas que usted pudo o no haber
                            experimentado. Para cada uno diga por favor la frecuencia en que lo ha sentido en las
                            últimas 4 semanas: muchas veces, varias veces, pocas veces, ninguna.
                        </p>
                    </div>
                </div>
            </div>
             <div class="box-body ">
                <div class="row">
                     <div class="col-md-6 col-sm-12">
                        {% bootstrap_field form.f1_sentirse_sin_energia layout="vertical" %}
                    </div>
                    <div class="col-md-6 col-sm-12">
                        {% bootstrap_field form.f2_culparse_por_algo layout="vertical" %}
                    </div>
                    <div class="col-md-6 col-sm-12">
                        {% bootstrap_field form.f3_llorar_facilmente layout="vertical" %}
                    </div>
                    <div class="col-md-6 col-sm-12">
                        {% bootstrap_field form.f4_perdida_sexual layout="vertical" %}
                    </div>
                    <div class="col-md-6 col-sm-12">
                        {% bootstrap_field form.f5_poco_apetito layout="vertical" %}
                    </div>
                    <div class="col-md-6 col-sm-12">
                        {% bootstrap_field form.f6_dificultad_dormir layout="vertical" %}
                    </div>
                    <div class="col-md-6 col-sm-12">
                        {% bootstrap_field form.f7_sentir_sin_esperanza layout="vertical" %}
                    </div>
                    <div class="col-md-6 col-sm-12">
                        {% bootstrap_field form.f8_sentirse_triste layout="vertical" %}
                    </div>
                    <div class="col-md-6 col-sm-12">
                        {% bootstrap_field form.f9_sentirse_sola layout="vertical" %}
                    </div>
                    <div class="col-md-6 col-sm-12">
                        {% bootstrap_field form.f10_pensar_acabar_vida layout="vertical" %}
                    </div>
                    <div class="col-md-6 col-sm-12">
                        {% bootstrap_field form.f11_sentirse_atrapada layout="vertical" %}
                    </div>
                    <div class="col-md-6 col-sm-12">
                        {% bootstrap_field form.f12_preocuparse_demasiado layout="vertical" %}
                    </div>
                    <div class="col-md-6 col-sm-12">
                        {% bootstrap_field form.f13_no_sentir_interes layout="vertical" %}
                    </div>
                    <div class="col-md-6 col-sm-12">
                        {% bootstrap_field form.f14_sentir_todo_cuesta layout="vertical" %}
                    </div>
                    <div class="col-md-6 col-sm-12">
                        {% bootstrap_field form.f15_sentir_no_valer layout="vertical" %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <hr>
                </div>
            </div>
            <div class="box-header with-border p-3">
                <h5 class="box-title text-letf">VI. SECCIÓN G: SALUD MENTAL  - Funcionalidad(WHO DAS 2.0)</h5>
                <div class="row justify-content-md-center">
                    <div class="col-md-10 bg-info">
                        <p class="font-italic">
                            Las siguientes preguntas son para entender mejor las dificultades que pueden tener
                            las personas. Aunque usted este sana y no tenga dificultades, me gustaría hacerle todas
                            las preguntas para obtener una información completa. Piense en cuanta dificultad ha tenido
                            en las últimas 4 semanas  para realizar las siguientes actividades:
                        </p>
                    </div>
                </div>
            </div>
            <div class="box-body ">
                <div class="row">
                     <div class="col-md-7 col-sm-12">
                        {% bootstrap_field form.g1_pie_largo_periodo layout="vertical" %}
                    </div>
                    <div class="col-md-5 col-sm-12">
                        {% bootstrap_field form.g2_cumplir_quehaceres layout="vertical" %}
                    </div>
                    <div class="col-md-7">
                        {% bootstrap_field form.g3_aprender_nueva_tarea layout="vertical" %}
                    </div>
                    <div class="col-md-12">
                        {% bootstrap_field form.g4_mismo_nivel_otros layout="vertical" %}
                    </div>
                    <div class="col-md-12">
                        {% bootstrap_field form.g5_afectacion_emocional layout="vertical" %}
                    </div>
                    <div class="col-md-5 col-sm-12">
                        {% bootstrap_field form.g6_concentrarse_algo layout="vertical" %}
                    </div>
                    <div class="col-md-7 col-sm-12">
                        {% bootstrap_field form.g7_caminar_distancias layout="vertical" %}
                    </div>
                    <div class="col-md-6 col-sm-12">
                        {% bootstrap_field form.g8_lavarse_cuerpo layout="vertical" %}
                    </div>
                    <div class="col-md-6 col-sm-12">
                        {% bootstrap_field form.g9_vestirse layout="vertical" %}
                    </div>
                    <div class="col-md-6 col-sm-12">
                        {% bootstrap_field form.g10_relacionarse_persona layout="vertical" %}
                    </div>
                    <div class="col-md-6 col-sm-12">
                        {% bootstrap_field form.g11_mantener_amistad layout="vertical" %}
                    </div>
                    <div class="col-md-6 col-sm-12">
                        {% bootstrap_field form.g12_trabajo_diario layout="vertical" %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <hr>
                </div>
            </div>
            <div class="box-header with-border p-3">
                <h5 class="box-title text-letf">VII. SECCIÓN H: SALUD MENTAL  - HTQ(Harvard Trauma Questionnaire – Symptoms Questions)</h5>
                <div class="row justify-content-md-center">
                    <div class="col-md-10 bg-info">
                        <p class="font-italic">
                            Por favor, realice un listado de los 5 eventos traumáticos más impactantes a lo largo de su vida.
                            Siendo el 1 el de Mayor impacto y 5 el de Menor impacto.
                        </p>
                        {% bootstrap_field form.h_evento1 layout="inline" %}
                        {% bootstrap_field form.h_evento2 layout="inline" %}
                        {% bootstrap_field form.h_evento3 layout="inline" %}
                        {% bootstrap_field form.h_evento4 layout="inline" %}
                        {% bootstrap_field form.h_evento5 layout="inline" %}
                        <p class="font-italic">
                            Las siguientes preguntas son acerca de algunos síntomas que usted pudo o no haber
                            experimentado. Para cada uno diga por favor la frecuencia en que lo ha sentido en las
                            últimas 4 semanas: muchas veces, varias veces, pocas veces, ninguna.
                        </p>
                    </div>
                </div>
            </div>
             <div class="box-body ">
                <div class="row">
                     <div class="col-md-12 col-sm-12">
                        {% bootstrap_field form.h1_recuerdos_dolorosos layout="vertical" %}
                    </div>
                    <div class="col-md-12 col-sm-12">
                        {% bootstrap_field form.h2_ocurrir_de_nuevo layout="vertical" %}
                    </div>
                    <div class="col-md-6 col-sm-12">
                        {% bootstrap_field form.h3_suenos_desagradables layout="vertical" %}
                    </div>
                    <div class="col-md-6 col-sm-12">
                        {% bootstrap_field form.h4_sentirse_distante layout="vertical" %}
                    </div>
                    <div class="col-md-6 col-sm-12">
                        {% bootstrap_field form.h5_sentir_incapaz_amar layout="vertical" %}
                    </div>
                    <div class="col-md-6 col-sm-12">
                        {% bootstrap_field form.h6_saltar_susto layout="vertical" %}
                    </div>
                    <div class="col-md-6 col-sm-12">
                        {% bootstrap_field form.h7_dificultad_concentrarse layout="vertical" %}
                    </div>
                    <div class="col-md-6 col-sm-12">
                        {% bootstrap_field form.h8_dificultad_dormir layout="vertical" %}
                    </div>
                    <div class="col-md-6 col-sm-12">
                        {% bootstrap_field form.h9_sentirse_alerta layout="vertical" %}
                    </div>
                    <div class="col-md-6 col-sm-12">
                        {% bootstrap_field form.h10_sentirse_irritable layout="vertical" %}
                    </div>
                    <div class="col-md-12 col-sm-12">
                        {% bootstrap_field form.h11_evadir_situaciones layout="vertical" %}
                    </div>
                    <div class="col-md-12 col-sm-12">
                        {% bootstrap_field form.h12_problemas_recordando layout="vertical" %}
                    </div>
                    <div class="col-md-6 col-sm-12">
                        {% bootstrap_field form.h13_perder_interes layout="vertical" %}
                    </div>
                    <div class="col-md-6 col-sm-12">
                        {% bootstrap_field form.h14_sentirse_sin_futuro layout="vertical" %}
                    </div>
                    <div class="col-md-12 col-sm-12">
                        {% bootstrap_field form.h15_intentar_no_pensar layout="vertical" %}
                    </div>
                    <div class="col-md-12 col-sm-12">
                        {% bootstrap_field form.h16_reacciones_fisicas layout="vertical" %}
                    </div>
                    <div class="col-md-6 col-sm-12">
                        {% bootstrap_field form.h17_sentir_culpa layout="vertical" %}
                    </div>
                    <div class="col-md-12">
                        {% bootstrap_field form.h_numero_evento layout="vertical" %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <hr>
                </div>
            </div>
            <div class="box-header with-border p-3">
                <h5 class="box-title text-letf">VIII. SECCIÓN I: SALUD MENTAL - Dependencia Emocional</h5>
                <div class="row justify-content-md-center">
                    <div class="col-md-10 bg-info">
                        <p class="font-italic">
                            Para las siguientes preguntas, tenga en cuenta la siguiente escala:
                        </p>

                        <div class="table-responsive-lg">
                          <table class="table table-bordered">
                              <thead class="text-center">
                                <th scope="col">Completamente Falso</th>
                                <th scope="col">La mayor parte falso de mí</th>
                                <th scope="col">Ligeramente más verdad que falso</th>
                                <th scope="col">Moderadamente verdad de mí</th>
                                <th scope="col">Mayor parte verdadero</th>
                                <th scope="col">Me describe perfectamente</th>
                              </thead>
                              <tbody class="text-center">
                                <th>1</th>
                                <th>2</th>
                                <th>3</th>
                                <th>4</th>
                                <th>5</th>
                                <th>6</th>
                              </tbody>

                          </table>
                        </div>
                    </div>
                    <div class="col-md-10 bg-info">
                        <p class="font-italic">
                            Escoja el puntaje de 1 a 6 que mejor la describa así misma respecto a sus relaciones de pareja:
                        </p>
                    </div>
                </div>
            </div>
            <div class="box-body ">
                <div class="row">
                     <div class="col-md-5 col-sm-12">
                        {% bootstrap_field form.i1_sentirse_desamparada layout="vertical" %}
                    </div>
                    <div class="col-md-7 col-sm-12">
                        {% bootstrap_field form.i2_ser_abandonada_pareja layout="vertical" %}
                    </div>
                    <div class="col-md-5 col-sm-12">
                        {% bootstrap_field form.i3_deslumbrar_pareja layout="vertical" %}
                    </div>
                    <div class="col-md-7 col-sm-12">
                        {% bootstrap_field form.i4_centro_atencion_pareja layout="vertical" %}
                    </div>
                    <div class="col-md-5 col-sm-12">
                        {% bootstrap_field form.i5_necesitar_afecto layout="vertical" %}
                    </div>
                    <div class="col-md-7 col-sm-12">
                        {% bootstrap_field form.i6_angustia_enojo layout="vertical" %}
                    </div>
                    <div class="col-md-12 col-sm-12">
                        {% bootstrap_field form.i7_aungustia_ausencia_pareja layout="vertical" %}
                    </div>
                    <div class="col-md-6 col-sm-12">
                        {% bootstrap_field form.i8_preocupacion_discucion_pareja layout="vertical" %}
                    </div>
                    <div class="col-md-6 col-sm-12">
                        {% bootstrap_field form.i9_hacerse_dano_por_pareja layout="vertical" %}
                    </div>
                    <div class="col-md-6 col-sm-12">
                        {% bootstrap_field form.i10_persona_debil_necesitada layout="vertical" %}
                    </div>
                    <div class="col-md-6 col-sm-12">
                        {% bootstrap_field form.i11_necesidad_expresividad_pareja layout="vertical" %}
                    </div>
                    <div class="col-md-12 col-sm-12">
                        {% bootstrap_field form.i12_ser_persona_especial layout="vertical" %}
                    </div>
                    <div class="col-md-12 col-sm-12">
                        {% bootstrap_field form.i13_vacia_tras_discusion layout="vertical" %}
                    </div>
                    <div class="col-md-7 col-sm-12">
                        {% bootstrap_field form.i14_sentirse_mal_sin_afecto layout="vertical" %}
                    </div>
                    <div class="col-md-5 col-sm-12">
                        {% bootstrap_field form.i15_temor_por_abandono layout="vertical" %}
                    </div>
                    <div class="col-md-12 col-sm-12">
                        {% bootstrap_field form.i16_dejar_todo_por_pareja layout="vertical" %}
                    </div>
                    <div class="col-md-6 col-sm-12">
                        {% bootstrap_field form.i17_intranquila_paradero_pareja layout="vertical" %}
                    </div>
                    <div class="col-md-6 col-sm-12">
                        {% bootstrap_field form.i18_vacia_sola layout="vertical" %}
                    </div>
                    <div class="col-md-4 col-sm-12">
                        {% bootstrap_field form.i19_intolerancia_soledad layout="vertical" %}
                    </div>
                    <div class="col-md-8 col-sm-12">
                        {% bootstrap_field form.i20_cosas_temerarias_por_amor layout="vertical" %}
                    </div>
                    <div class="col-md-12 col-sm-12">
                        {% bootstrap_field form.i21_cambiar_planes_por_pareja layout="vertical" %}
                    </div>
                    <div class="col-md-7 col-sm-12">
                        {% bootstrap_field form.i22_alejar_amigos_por_pareja layout="vertical" %}
                    </div>
                    <div class="col-md-5 col-sm-12">
                        {% bootstrap_field form.i23_diversion_pareja layout="vertical" %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <hr>
                </div>
            </div>
            <div class="box-header with-border p-3">
                <h5 class="box-title text-letf">IX. SECCIÓN J: SALUD MENTAL  - Tipo y Severidad Violencia (SVAWS)</h5>
                <div class="row justify-content-md-center">
                    <div class="col-md-10 bg-info">
                        <p class="font-italic">
                            Esta lista es sobre algunos comportamientos que su pareja pudo haber tenido con usted
                            durante los últimos 12 meses. Por favor responda qué tan frecuentes han sido estos
                            comportamientos: Nunca, Una vez, Algunas Veces o Muchas veces, durante los últimos 12 meses:
                        </p>
                    </div>
                </div>
            </div>
            <div class="box-body ">
                 <div class="row">
                     <div class="col-md-12 bg-secondary">
                         <h6 class="text-center font-italic">Amenazas - Violencia Simbólica</h6>
                    </div>
                     <div class="col-md-6 col-sm-12">
                        {% bootstrap_field form.j1_golpear_patear layout="vertical" %}
                    </div>
                     <div class="col-md-6 col-sm-12">
                        {% bootstrap_field form.j2_tirar_romper layout="vertical" %}
                    </div>
                     <div class="col-md-6 col-sm-12">
                        {% bootstrap_field form.j3_conducir_peligroso layout="vertical" %}
                    </div>
                     <div class="col-md-6 col-sm-12">
                        {% bootstrap_field form.j4_tirar_objeto layout="vertical" %}
                    </div>
                 </div>
                <div class="row">
                    <div class="col-md-12 bg-secondary">
                         <h6 class="text-center font-italic">Amenazas - Violencia Leve</h6>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        {% bootstrap_field form.j5_senalar_dedo layout="vertical" %}
                    </div>
                     <div class="col-md-6 col-sm-12">
                        {% bootstrap_field form.j6_intimidar_caras layout="vertical" %}
                    </div>
                     <div class="col-md-6 col-sm-12">
                        {% bootstrap_field form.j7_amenazarla_puno layout="vertical" %}
                    </div>
                     <div class="col-md-6 col-sm-12">
                        {% bootstrap_field form.j8_actuar_maton layout="vertical" %}
                    </div>
                </div>
                <div class="row">
                     <div class="col-md-12 bg-secondary">
                         <h6 class="text-center font-italic">Amenazas - Violencia Moderada</h6>
                    </div>
                    <div class="col-md-5 col-sm-12">
                        {% bootstrap_field form.j9_destruirle_algo layout="vertical" %}
                    </div>
                     <div class="col-md-7 col-sm-12">
                        {% bootstrap_field form.j10_amenazar_danar layout="vertical" %}
                    </div>
                     <div class="col-md-6 col-sm-12">
                        {% bootstrap_field form.j11_amenazar_destruir_propiedad layout="vertical" %}
                    </div>
                     <div class="col-md-6 col-sm-12">
                        {% bootstrap_field form.j12_amenazar_alguien_cercano layout="vertical" %}
                    </div>
                </div>
                <div class="row">
                     <div class="col-md-12 bg-secondary">
                         <h6 class="text-center font-italic">Amenazas - Violencia Grave</h6>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        {% bootstrap_field form.j13_amenazar_hacerle_dano layout="vertical" %}
                    </div>
                     <div class="col-md-6 col-sm-12">
                        {% bootstrap_field form.j14_amenazar_suicidarse layout="vertical" %}
                    </div>
                     <div class="col-md-6 col-sm-12">
                        {% bootstrap_field form.j15_amenazar_matarla layout="vertical" %}
                    </div>
                     <div class="col-md-6 col-sm-12">
                        {% bootstrap_field form.j16_amenazar_arma layout="vertical" %}
                    </div>
                    <div class="col-md-6 col-sm-12">
                        {% bootstrap_field form.j17_amenazar_palos layout="vertical" %}
                    </div>
                     <div class="col-md-6 col-sm-12">
                        {% bootstrap_field form.j18_actuar_querer_matarla layout="vertical" %}
                    </div>
                     <div class="col-md-6 col-sm-12">
                        {% bootstrap_field form.j19_amenazar_cuchillo layout="vertical" %}
                    </div>
                </div>
                <div class="row">
                     <div class="col-md-12 bg-secondary">
                         <h6 class="text-center font-italic">Acciónes - Violencia Leve</h6>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        {% bootstrap_field form.j20_agarrar_fuerte layout="vertical" %}
                    </div>
                     <div class="col-md-6 col-sm-12">
                        {% bootstrap_field form.j21_aventarla_empujarla layout="vertical" %}
                    </div>
                     <div class="col-md-6 col-sm-12">
                        {% bootstrap_field form.j22_agarrarla_repentina layout="vertical" %}
                    </div>
                     <div class="col-md-6 col-sm-12">
                        {% bootstrap_field form.j23_estrujarla layout="vertical" %}
                    </div>
                </div>
                <div class="row">
                     <div class="col-md-12 bg-secondary">
                         <h6 class="text-center font-italic">Acciónes - Violencia Menor</h6>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        {% bootstrap_field form.j24_aranarla_cortarla layout="vertical" %}
                    </div>
                     <div class="col-md-6 col-sm-12">
                        {% bootstrap_field form.j25_harlarle_cabello layout="vertical" %}
                    </div>
                     <div class="col-md-6 col-sm-12">
                        {% bootstrap_field form.j26_torcerle_brazo layout="vertical" %}
                    </div>
                    <div class="col-md-6 col-sm-12">
                        {% bootstrap_field form.j27_azotarla layout="vertical" %}
                    </div>
                    <div class="col-md-6 col-sm-12">
                        {% bootstrap_field form.j28_morderla layout="vertical" %}
                    </div>
                </div>
                <div class="row">
                     <div class="col-md-12 bg-secondary">
                         <h6 class="text-center font-italic">Acciónes - Violencia Moderada</h6>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        {% bootstrap_field form.j29_darle_cachetada_palma layout="vertical" %}
                    </div>
                    <div class="col-md-6 col-sm-12">
                        {% bootstrap_field form.j30_darle_cachetada_dorso layout="vertical" %}
                    </div>
                    <div class="col-md-6 col-sm-12">
                        {% bootstrap_field form.j31_abofetearla layout="vertical" %}
                    </div>
                </div>
                <div class="row">
                     <div class="col-md-12 bg-secondary">
                         <h6 class="text-center font-italic">Acciónes - Violencia Grave</h6>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        {% bootstrap_field form.j32_golpearla_objeto layout="vertical" %}
                    </div>
                    <div class="col-md-6 col-sm-12">
                        {% bootstrap_field form.j33_pegarle_puno layout="vertical" %}
                    </div>
                    <div class="col-md-6 col-sm-12">
                        {% bootstrap_field form.j34_pegarle_patada layout="vertical" %}
                    </div>
                    <div class="col-md-6 col-sm-12">
                        {% bootstrap_field form.j35_pisarla_fuerte layout="vertical" %}
                    </div>
                    <div class="col-md-6 col-sm-12">
                        {% bootstrap_field form.j36_ahorcarla layout="vertical" %}
                    </div>
                    <div class="col-md-6 col-sm-12">
                        {% bootstrap_field form.j37_quemarla layout="vertical" %}
                    </div>
                    <div class="col-md-6 col-sm-12">
                        {% bootstrap_field form.j38_golpearla_garrote layout="vertical" %}
                    </div>
                    <div class="col-md-6 col-sm-12">
                        {% bootstrap_field form.j39_lastimarla_arma layout="vertical" %}
                    </div>
                </div>
                <div class="row">
                     <div class="col-md-12 bg-secondary">
                         <h6 class="text-center font-italic">Acciónes - Violencia Sexual</h6>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        {% bootstrap_field form.j40_exigir_relaciones layout="vertical" %}
                    </div>
                    <div class="col-md-6 col-sm-12">
                        {% bootstrap_field form.j41_obligarla_relaciones layout="vertical" %}
                    </div>
                    <div class="col-md-6 col-sm-12">
                        {% bootstrap_field form.j42_relaciones_fuerta_bruta layout="vertical" %}
                    </div>
                    <div class="col-md-6 col-sm-12">
                        {% bootstrap_field form.j43_usar_objeto_sexual layout="vertical" %}
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <div class="row justify-content-md-center">
                    <div class="col-md-10 bg-warning">
                        <p class="font-italic">
                            <strong>NOTA PARA EL ENCUESTADOR: SALTO</strong> <br> En los casos que esta encuesta corresponda a la Medición 2
                            (Salida) o a la Medición 3 (Seguimiento), se debe SALTAR la siguiente Sección K – SRQ e ir
                            a las preguntas abiertas al final de cuestionario, Numeral XII.

                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <hr>
                </div>
            </div>
            <div class="box-header with-border p-3">
                <h5 class="box-title text-letf">X. SECCIÓN K: SALUD MENTAL  - SRQ Likert</h5>
                <div class="row justify-content-md-center">
                    <div class="col-md-10 bg-info">
                        <p class="font-italic">
                            Para responder las siguientes preguntas, por favor piense que tan frecuentemente le han
                            sucedido las situaciones o frases descritas durante las últimas 4 semanas. Las respuestas
                            van desde “Nunca en las últimas 4 semanas” hasta “Siempre durante las últimas 4 semanas.”
                        </p>
                    </div>
                </div>
            </div>
            <div class="box-body ">
                <div class="row">
                     <div class="col-md-6 col-sm-12">
                        {% bootstrap_field form.k1_dolor_cabeza layout="vertical" %}
                     </div>
                    <div class="col-md-6 col-sm-12">
                        {% bootstrap_field form.k2_mal_apetito layout="vertical" %}
                     </div>
                    <div class="col-md-6 col-sm-12">
                        {% bootstrap_field form.k3_mal_dormir layout="vertical" %}
                     </div>
                    <div class="col-md-6 col-sm-12">
                        {% bootstrap_field form.k4_facil_susto layout="vertical" %}
                     </div>
                    <div class="col-md-6 col-sm-12">
                        {% bootstrap_field form.k5_temblor_manos layout="vertical" %}
                     </div>
                    <div class="col-md-6 col-sm-12">
                        {% bootstrap_field form.k6_nervios_sin_causa layout="vertical" %}
                     </div>
                    <div class="col-md-6 col-sm-12">
                        {% bootstrap_field form.k7_tensa_sin_causa layout="vertical" %}
                     </div>
                    <div class="col-md-6 col-sm-12">
                        {% bootstrap_field form.k8_aburrida layout="vertical" %}
                     </div>
                    <div class="col-md-6 col-sm-12">
                        {% bootstrap_field form.k9_mala_digestion layout="vertical" %}
                     </div>
                    <div class="col-md-6 col-sm-12">
                        {% bootstrap_field form.k10_no_pensar_claro layout="vertical" %}
                     </div>
                    <div class="col-md-6 col-sm-12">
                        {% bootstrap_field form.k11_triste layout="vertical" %}
                     </div>
                    <div class="col-md-6 col-sm-12">
                        {% bootstrap_field form.k12_no_disfrutar_diario layout="vertical" %}
                     </div>
                    <div class="col-md-6 col-sm-12">
                        {% bootstrap_field form.k13_no_disfrutar_trabajo layout="vertical" %}
                     </div>
                    <div class="col-md-6 col-sm-12">
                        {% bootstrap_field form.k14_dicultad_decisiones layout="vertical" %}
                     </div>
                    <div class="col-md-6 col-sm-12">
                        {% bootstrap_field form.k15_acabar_vida layout="vertical" %}
                     </div>
                    <div class="col-md-6 col-sm-12">
                        {% bootstrap_field form.k16_cansada_sin_razon layout="vertical" %}
                     </div>
                    <div class="col-md-6 col-sm-12">
                        {% bootstrap_field form.k17_sensacion_estomago layout="vertical" %}
                     </div>
                    <div class="col-md-6 col-sm-12">
                        {% bootstrap_field form.k18_dificultad_diario layout="vertical" %}
                     </div>
                    <div class="col-md-6 col-sm-12">
                        {% bootstrap_field form.k19_tratado_herirla layout="vertical" %}
                     </div>
                    <div class="col-md-6 col-sm-12">
                        {% bootstrap_field form.k20_controlar_pensamientos layout="vertical" %}
                     </div>
                    <div class="col-md-12 col-sm-12">
                        {% bootstrap_field form.k21_escuchar_voces layout="vertical" %}
                     </div>
                    <div class="col-md-12 col-sm-12">
                        {% bootstrap_field form.k22_tener_convulsiones layout="vertical" %}
                     </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <hr>
                    </div>
                </div>
                <div class="row justify-content-md-center">
                    <div class="col-md-10 bg-info">
                        <p class="font-italic">
                            Las siguientes preguntas son para saber qué tan de acuerdo o en desacuerdo está usted con
                            las siguientes afirmaciones. De nuevo, piense en cómo se ha sentido en las últimas 4 semanas:
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        {% bootstrap_field form.k23_llora_frecuentemente layout="vertical" %}
                     </div>
                    <div class="col-md-6 col-sm-12">
                        {% bootstrap_field form.k24_util_vida layout="vertical" %}
                     </div>
                    <div class="col-md-6 col-sm-12">
                        {% bootstrap_field form.k25_perdidad_interes layout="vertical" %}
                     </div>
                    <div class="col-md-6 col-sm-12">
                        {% bootstrap_field form.k26_persona_inutil layout="vertical" %}
                     </div>
                    <div class="col-md-6 col-sm-12">
                        {% bootstrap_field form.k27_persona_importante layout="vertical" %}
                     </div>
                </div>

            </div>
            <div class="box-footer">
                <div class="row justify-content-md-center">
                    <div class="col-md-10 bg-warning">
                        <p class="font-italic">
                            <strong>NOTA PARA EL ENCUESTADOR: SALTO</strong> <br> En los casos que esta encuesta
                            corresponda a la Medición 1 (Línea de Base) SALTAR este numeral XII e ir directamente al
                            final del cuestionario, Numeral XIII.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <hr>
                    </div>
                </div>
            </div>
            <div class="box-header with-border p-3">
                <h5 class="box-title text-letf">XI. OPINIONES SOBRE EL PROCESO DE ATENCIÓN PSICOSOCIAL</h5>
            </div>
            <div class="box-body ">
                <div class="row">
                     <div class="col-md-12">
                        {% bootstrap_field form.opinion_dificultad_proceso layout="vertical" %}
                     </div>
                    <div class="col-md-12">
                        {% bootstrap_field form.opinion_atencion_terapia layout="vertical" %}
                    </div>
                </div>
            </div>

            <div class="box-footer">
                <div class="row justify-content-md-center">
                    <div class="col-md-10">
                        <p class="font-italic text-center text-info">
                            <strong>CON ESTO FINALIZA EL CUESTIONARIO, MUCHAS GRACIAS POR SU COLABORACION</strong> <br>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <hr>
                    </div>
                </div>
                <button type="button" class="btn btn-primary" data-target="#modal-default" onclick="setText()">Guardar</button>
            </div>



        </div>

    <!-- Modal -->

        <div class="modal" tabindex="-1" role="dialog"  id="modal-default">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Guardar cuestionario</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p id="info_mostrar"> &hellip;</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-primary" onclick="cerrarModal()">Registrar</button>
              </div>
            </div>
          </div>
        </div>

    </form>
{% endblock %}

{% block js_block %}
    <script type="text/javascript" src="{% static 'js/js_campos.js' %}"></script>
    <script>

        $("#id_id_encuestador").val("{{ user.username }}")
        $("#id_c1_relacion_agresor").change(
            function () {
                var select = $("#id_c1_relacion_agresor").val()
                if(select == "5"){
                    $("#id_c1_otro_especificado").prop('disabled', false)
                }else{
                    $("#id_c1_otro_especificado").prop('disabled', true)
                }
            }
        )
        function setText() {
            //Información a mostrar
            document.getElementById("info_mostrar").innerHTML = "¿Está seguro que desea registrar el cuestionario?"
            $("#modal-default").modal('toggle');
        }

        function cerrarModal() {
            $("#id_id_encuestador").prop('disabled', false)
            $("#id_hora_inicio").prop('disabled', false)
            $("#id_hora_final").prop('disabled', false)
            $("#id_fecha_encuesta").prop('disabled', false)
            var d = new Date();
            var horas = d.getHours();
            var minutos = d.getMinutes();
            var segundos = d.getSeconds();
            var horaFinal = horas + ":" + minutos + ":" + segundos
            $("#id_hora_final").val(horaFinal)
            $("#modal-default").modal('hide')
        }
    </script>

{% endblock %}

