{% extends 'base/base.html' %}
{% load bootstrap3 %}
{% load staticfiles %}


{% block title_block %} Consultar Encuesta Mujer {% endblock %}



{% block title_content_block %}Consultar Encuesta Mujer - VIF{% endblock %}

{% block css_block %}
    
    <link rel="stylesheet" href="{% static 'css/css_personalizados.css' %}">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">

{% endblock %}

{% block content_block %}
    <div class="container">
    <div class="row">
        <div class="col-md-12 ">
            <div class="table-responsive-lg">
                <table id="myTable" class="table table-striped">
                  <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col" style="text-align: center">Fecha</th>
                        <th scope="col" style="text-align: center">Encuestador</th>
                        <th scope="col" style="text-align: center">Paciente</th>
                        <th scope="col" style="text-align: center">Medicion</th>
                        <th scope="col" style="text-align: center">Acciones</th>
                    </tr>
                  </thead>
                  <tbody>
                      {% for dato in datos %}
                          <tr>
                              <th scope="row">{{ contador|add:1}}</th>
                              <td style="text-align: center"> {{ dato.fecha_encuesta }}</td>
                              <td style="text-align: center"> {{ dato.id_encuestador }}</td>
                              <td style="text-align: center"> {{ dato.id_paciente }}</td>
                              <td style="text-align: center"> {{ dato.get_medicion_display }}</td>
                              <td><a href="{% url 'modificar_encuesta_mujer' dato.id %}"
                                       class="btn btn-block btn-warning btn-sm">Modificar</a>
                              </td>
                          </tr>

                        {% endfor %}
                  </tbody>
                </table>
            </div>
        </div>
    </div>
    </div>

{% endblock %}

{% block js_block %}

    <!-- DataTables -->
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

    <script>
    $(function () {
        $('#myTable').DataTable(
            {
                    "language": {
                        "url": "//cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json"
                    }
                }
        );
    } );
    </script>
{% endblock %}