{% extends 'base/base.html' %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block title_block %}Index{% endblock %}


{% block title_content_block %}Encuestas VIF{% endblock %}

{% block content_block %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="text-center font-weight-light"> Sistema diseñado por el área de sistemas del instituto CISALVA
                    para la gestión de encuestas del proyecto de violencia intrafamiliar VIF</p>
            </div>

        </div>
    </div>
{% endblock %}